
@{
    ViewData["Title"] = "TransferVerificatoin";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>TransferVerificatoin</h1>

<h1>Transfer Verification</h1>
<br />
<br />
From Account : @ViewBag.FromAccount
<br />
<br />
 From Account Holder Name : @ViewBag.AccountHolder
<br />
<br />
 To Account : @ViewBag.ToAccount
<br />
<br />
To Account Holder Name : @ViewBag.ToAccountHolder
<br />
<br />
Total Amount : @ViewBag.Amount
